.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.container{
    background-color: chocolate;
    height: 100px;
}
.container-fluid{
    /*background-color: fuchsia;
    height: 100px;*/
}
.row{
    margin: 5px;
}
.col{
    margin: 5px;
}
.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-size: 20px;
  font-style: normal;
}
.sedgwick-ave {
    font-family: "Sedgwick Ave Display", cursive;
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
  }
  .centrar-imagen {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
}


  
  
  